<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css" />
<meta charset="ISO-8859-1">
<title>gtm.fabiendrouin.fr</title>
<link rel="icon" type="image/x-icon" href="img/gtm32.ico" /><link rel="shortcut icon" type="image/x-icon" href="img/gtm32.ico" />
</head>
<body>


	<div id="header">
		<h1>C'est mon titre gars</h1>


		<div>
			<iframe width="704" height="396"
				src="https://www.youtube.com/embed/n_6p-1J551Y?start=25"
				frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


		</div>


		<div id="nav"></div>

		<h2>Menu</h2>

		<ul>

			<li><a href="http://www.fabiendrouin.fr">Home</a>
			<li><a href="http://www.fabiendrouin.fr">Products</a>
			<li><a href="http://www.fabiendrouin.fr">Services</a>
			<li><a href="http://www.fabiendrouin.fr">About</a>
			<li><a href="http://www.fabiendrouin.fr">Contact</a>
		</ul>



	</div>

	<div id="content">


		<div id="feature">petit résumé...</div>


		<div class="article column1">
			<h3>La musique classique au XIXème siècle</h3>
			Frédéric Chopin. Chopin, musicien romantique. ... Franz Liszt au
			piano. Franz Liszt au piano : le culte de Beethoven. ... Jacques
			Offenbach. ... Hector Berlioz. ... Portrait de Claude Debussy. ...
		</div>

		<div class="article column2">
			<h3>La vie des tortues de Floride</h3>

		</div>
		<div class="article column3">
			<h3>Belle et sournoise</h3>
		</div>
	</div>



	<div id="footer">
		COPYRIGHT © 2018 FABIEN DROUIN. ALL RIGHTS RESERVED.
		<div id="nav"></div>



	</div>



</body>
</html>