* {
	font-family: verdana, sans-serif;
	color: #12223d;
}

html {
	background-color: #ffffff;
	background-image: url("https://media.giphy.com/media/XnqyyLQt1K8dW/giphy.gif");
/* 	background-repeat: no-repeat; */
/* 	background-size: 100%; */
}

/* #nav, #feature, { */
/* 	margin: 3% 3%; */
/* } */

/* #feature, .article { */
/* 	padding: 1em; */
/* } */


.column1, .column2, .column3{
	width:24%;
	float: left;
/* 	padding: 0.2em; */
	margin: 3% 3%;
	margin-right:0%;
	margin-left:05%;
}

li {
	display: inline;
	padding: 0.8em;
}

body {
	background-color: #cbcbc7;
	width: 50%;
	margin: auto auto auto auto;
	padding: 2em;
}

.infos p {
	
}

.infos strong {
	font-weight: normal;
	text-transform: uppercase;
}

.profile {
	
}

h1, h3 {
	font-family: verdana;
	color: #12223d;
}

h1 {
	text-align: center;
}

h2 {
	text-align:;
	padding: .5em;
}

ul, ol {
	list-style-type: none;
}

div {
	border-width: 10px;
	border-style: double;
	border-color: #253041;
}

#footer {
	margin: 3% 3%;
	padding: 1em;
	color: #665544;
}
#header {
	margin: 3% 3%;
	padding: 1em;
	color: #665544;
}
#content {
	overflow:auto;
	margin: 3% 3%;
	padding: 1em;
	color: #665544;
}