html {
/* 	background: #DDD; */
	font-family: georgia;
	
}

body {
	width: 700px;
	margin: 0 auto 0 auto;
	padding: 15px;
	background-image: url('img/Samothraki_island.jpg');
	background-repeat: no-repeat;
	background-size:  720px 1210px;
	background-position: 50% 30%;
}

.infos p {
	margin: 5px 0 5px 0;
	color: #000b33;
}

.infos strong {
	font-weight: normal;
	text-transform: uppercase;
}

.profile {
	float: right;
	padding: 10px;
}

h1, h3 {
	font-family: verdana;
	color: #12223d;
}

h1 {
	text-align: center;
}

ul, ol {
	list-style-type: none;
}

.skills ul {
	width: 35%;
	margin-top: 0;
}

.skills .first {
	float: left;
}

.skills .second {
	margin-left: 50%;
}