html {
	background: #DDD;
	font-family: georgia;
}

.testroll {
	background-image: url('img/button.png');
-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	width: 570px;
	height: 64px;
}


table, th, td {
		margin: 50px 50px 500px 500px;
   border: 2px solid black;
}




.testroll:hover {
	background-position:0px 64px;
	}

.infos p {
	margin: 5px 0 5px 0;
	color: #000b33;
}

.infos strong {
	font-weight: normal;
	text-transform: uppercase;
}

.profile {
	float: right;
	padding: 10px;
}

h1, h3 {
	font-family: verdana;
	color: #12223d;
}

h1 {
	text-align: center;
}

ul, ol {
	list-style-type: none;
}

.skills ul {
	width: 35%;
	margin-top: 0;
}

.skills .first {
	float: left;
}

.skills .second {
	margin-left: 50%;
}